@model MalhariaWeb.Models.UNIDADE_MEDIDA

@{
    Layout = "~/Views/_LayoutMalhariaWeb.cshtml";
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-12">

        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Cadastro</li>
            <li>@Html.ActionLink("Unidade Medida", "Index", "UnidadeMedida")</li>
        </ul>

        @using (Html.BeginForm("Create", "UnidadeMedida", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horinzontal", role = "role" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>

                <div class="form-group">
                    @Html.LabelFor(model => model.NOME_UNIDADE_MEDIDA, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(model => model.NOME_UNIDADE_MEDIDA, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NOME_UNIDADE_MEDIDA)
                </div>

                <p>
                    <button class="btn btn-success" type="submit" value="Salvar">Create</button>
                </p>
            </fieldset>
        }

    </div>
</div>

