@model MalhariaWeb.Models.ORDEM_ACABAMENTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutMalhariaWeb.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ORDEM_ACABAMENTO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PRODUTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PRODUTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OBSERVACAO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OBSERVACAO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_COR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_COR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.METROS_ORIGINAIS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.METROS_ORIGINAIS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KILOS_ORIGINAIS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KILOS_ORIGINAIS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.METROS_ACABADOS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.METROS_ACABADOS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KILOS_ACABADOS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KILOS_ACABADOS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.METROS_PROGRAMADOS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.METROS_PROGRAMADOS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KILOS_PROGRAMADOS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KILOS_PROGRAMADOS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
